*{
    box-sizing: border-box;
}


.descuento {
    display: flex;
    background-color: #1CD1B0;
    color: black;
    width: auto;
    height: 38px;
}


header {
    display: flex;
    color: black;
    height: 101px;
    width: auto;
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

h1 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 28px 20px;
}

h2 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 300px;
    height: 35px;
    margin: 0px;
    display: inline-block;
    bottom: 180px;
}

h3 {
    color: black;
    position: absolute;
    margin: 10px 20px ;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

}

h6 {
    position: relative;
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 0 20px;
    top: 16px;
}

p {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
    height: 113px;
    padding: 5px 20px;
    margin: 0px;
    bottom: 170px;
}
.container {
    display: flex;
    justify-content: space-around;
    top:150px;
}

.card {
    
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    margin: 10px;
    display:inline-block;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.fondo {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    width: 300px;
    height: 193px;
}

.img { 
    position: relative;
    border-radius: 50%;
    width: 122px;
    height: 122px;
    margin: 0px 89px;
    bottom: 180px;
}

.icono {
    position: relative;
    color: red;
    font-size: 22px;
    bottom: 180px;
}


button {
    position: relative;
    background-color: #00669F;
    width: 100px;
    height: 35px;
    color: white;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 5px 100px;
    bottom: 170px;
}

footer {
    display: flex;
    color: white;
    height: 51px;
    background: #00669F;
}

@media (max-width: 600px) { 
    .container {
        flex-direction: column;        
        align-items: center;
    }
}